body {
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 30px;
	background: #000000;
	color: #FFFFFF;
	line-height: 180%;
}

.header {
	padding-bottom: 10px;

}

a {
	color: #FFFFFF;
}

h1 {
	font-size: 50px;

}

h2 {
	font-size: 25px;
	text-align: center;


}

h3 {
	font-size: 20px;
	text-align: center;
	clear: both;
}

img {

}

ul {
	text-align: center;
	line-height: 150%;
}

.album {
	float: left;
	display: inline;
	width: 375px;
}

.songs {
	float: left;
	display: inline;
	width: 225px;
}


#threeandfour {
	clear: both;
}